body {
    margin: auto;
    max-width: 55em;
}

.header {
	background-color: #C3E69C;
}

.header-image {
	background-image: url("clock.svg");
	background-repeat: repeat-x;
	height: 8em;
}

h1 {
	text-align: center;
	font-family: 'Nadeem';
	font-size: 3em;
}

nav li{
	display: inline-block;
	padding: 1em;
	border-radius: 0.5em;
	border: 1px solid #94AD76;
	background-color: #94AD76;
	font-size: 1em;
	font-family: 'Nadeem';
	text-aligg: center;
	box-shadow: 2px 2px 20px -9px;
}

nav li a {
    text-decoration: none;
    color: #000;
}

nav li:hover {
	background-color: #A9C787;
	cursor: pointer;
}

.floating {
    display: block;
    float: right;
	background-color: #94AD76;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 2px 2px 20px -9px;
}

button {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 1px solid #94AD76;
	background-color: #94AD76;
	font-size: 0.75em;
	box-shadow: 2px 2px 20px -9px;
}

button:hover {
	background-color: #A9C787;
	cursor: pointer;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	float: left;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
