<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		Kirjaudu
	</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div class="header">
		<div class="header-image"></div>
		<h1>
			Työaikakirjanpito
		</h1>
		<div class="header-image"></div>
	</div>
	<h2>
		Tervetuloa pitämään kirjaa töistäsi!
	</h2>
	{% if message %}
	<div class="message">
		{{ message }}
	</div>
	{% endif %}
	<div class="floating">
		<h3>Kirjaudu sisään</h3>
		<form action="/login" method="POST">
			<p>Käyttäjätunnus:<br>
				<input type="text" name="username">
			</p>
			<p>Salasana:<br>
				<input type="password" name="password">
			</p>
			<input type="submit" text="Kirjaudu" class="is-circle">
		</form>
	</div>
	<p>
		Tällä sovelluksella voit
	</p>
	<ul>
		{% for item in items %}
		<li>{{ item }} {% endfor %}
		</li>
	</ul>
	
	<h3>Rekisteröidy käyttäjäksi</h3>
	<form action="/register" method="POST" onsubmit="return check(this)">
		<p>Käyttäjätunnus:<br>
			<input type="text" name="username">
		</p>
		<p>Salasana:<br>
			<input type="password" name="password1">
		</p>
		<p>Salasana uudestaan:<br>
			<input type="password" name="password2">
		</p>
		<button type="submit">Rekisteröidy</button>
	</form>
	<script>
	function check(form) {
	    if (form.username.value.length > 25 || form.username.value.length < 3) {
	        alert("Käyttäjänimi on liian pitkä tai lyhyt! Käyttäjänimen tulee olla vähintään 3 ja enintään 25 merkkiä pitkä.");
	        return false;
	    }
	    if (form.password1.value.length < 8) {
	        alert("Salasana on liian lyhyt. Salasanan tulee olla vähintään 8 merkkiä pitkä.");
	        return false;
	    }
	    return true;
	}
	</script>
</body>
</html>
