<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Kirjaudu
		</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<div class="header">
			<div class="header-image"></div>
			<h1>
				Työaikakirjanpito
			</h1>
			<div class="header-image"></div>
		</div>
		<h2>
			Tervetuloa pitämään kirjaa töistäsi!
		</h2>
		<p>
			Tällä sovelluksella voit
		</p>
		<ul>
			{% for item in items %}
			<li>{{ item }} {% endfor %}
			</li>
		</ul>
		{% if session.username %}
		<p>Moikka {{ session.username }}! Klikkaa <a href="/home">tästä</a>, niin voit aloittaa työajan kirjaamisen, tai <a href="/logout">kirjaudu ulos</a>.</p>
		{% else %}
		<form action="/login" method="POST">
		<p>Käyttäjätunnus:<br>
		<input type="text" name="username"></p>
		<p>Salasana:<br>
		<input type="password" name="password"></p>
		<input type="submit" text="Kirjaudu" class="is-circle">
		</form>
		{% endif %}
	</body>
</html>
