<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		Kirjaudu
	</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div class="header">
		<div class="header-image"></div>
		<h1>
			Työaikakirjanpito
		</h1>
		<div class="header-image"></div>
	</div>
	<h2>
		Tervetuloa pitämään kirjaa töistäsi!
	</h2>
	<div id="login">
		<h3>Kirjaudu sisään</h3>
		<form action="/login" method="POST">
			<p>Käyttäjätunnus:<br>
				<input type="text" name="username">
			</p>
			<p>Salasana:<br>
				<input type="password" name="password">
			</p>
			<input type="submit" text="Kirjaudu" class="is-circle">
		</form>
	</div>
	<p>
		Tällä sovelluksella voit
	</p>
	<ul>
		{% for item in items %}
		<li>{{ item }} {% endfor %}
		</li>
	</ul>
	
	<h3>Rekisteröidy käyttäjäksi</h3>
	<form action="/register" method="POST">
		<p>Käyttäjätunnus:<br>
			<input type="text" name="username">
		</p>
		<p>Salasana:<br>
			<input type="password" name="password1">
		</p>
		<p>Salasana uudestaan:<br>
			<input type="password" name="password2">
		</p>
		<input type="submit" text="Kirjaudu" class="is-circle">
	</form>
	<p>{{ message }}</p>
</body>
</html>
