<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Työaikakirjanpito - {% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<div class="header">
			<div class="header-image"></div>
			<h1>
				Työaikakirjanpito
			</h1>
			<div class="header-image"></div>
		</div>
		<nav>
		    <ul>
				<li><a href="/home">Etusivu</a></li>
		      <li><a href="/start-recording">Tallenna</a></li>
		      <li><a href="/browse">Selaa</a></li>
		      <li><a href="#">Hallitse</a></li>
			  <li><a href="/logout">Kirjaudu ulos</a></li>
		    </ul>
		</nav>
		{% block content %}{% endblock %}
	</body>
	</html>