<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% extends "layout.html" %}
	{% block title %}Tallenna{% endblock %}
</head>
<body>
	{% block content %}
	{% if message %}
	<div class="message">
		{{ message }}
	</div>
	{% endif %}
	<button id="add-task" class="floating" >Lisää uusi työtehtävä</button>
	<script type="text/javascript">
	    document.getElementById("add-task").onclick = function () {
	        location.href = "/settings";
	    };
	</script>
	<form action="/add-entry" method="POST" class="entry-form">
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		<p>Päivämäärä: <input type="text" name="datepicker" id="datepicker"></p>
		<p>Aloituskellonaika: <input type="time" name="time-beg"></p>
		<p>Lopetuskellonaika: <input type="time" name="time-end"></p>
		<h3>Valitse työtehtävät:</h3>
		<p>
			{% for task in tasks %}
			<input type="checkbox" name="task" value="{{ task }}">{{ task }}
			{% endfor %}
		</p>
		<h3>Lisää tauko:</h3>
		<p>
			<input type="radio" name="pause" value="5"> 5 min.
			<input type="radio" name="pause" value="10"> 10 min.
			<input type="radio" name="pause" value="15"> 15 min.
		</p>
		<p>
			<input type="radio" name="pause" value="20"> 20 min.
			<input type="radio" name="pause" value="30"> 30 min.
			<input type="radio" name="pause" value="45"> 45 min.
		</p>
		<p>
			<input type="radio" name="pause" value="60"> 60 min.
			<input type="radio" name="pause" value="90"> 90 min.
			<input type="radio" name="pause" value="custom"> muu
			<input type="number" name="custom">
		</p>
		<h3>Muistiinpanot:</h3>
		<div>
			<textarea name="notes" rows="5" cols="40"></textarea>
		</div>
		<br>
		<button type="submit">Tallenna</button>
	</form>
	{% endblock %}
</body>
</html>