<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% extends "layout.html" %}
	{% block title %}Asetukset{% endblock %}
</head>
<body>
	{% block content %}
	<div class="floating">
		<h2>Vaihda salasana</h2>
		<form action="/change-password" method="POST">
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
			<p>Salasana:<br>
				<input type="password" name="password-old">
			</p>
			<p>Uusi salasana:<br>
				<input type="password" name="password-new1">
			</p>
			<p>Uusi salasana uudelleen:<br>
				<input type="password" name="password-new2">
			</p>
			<input type="submit">
		</form>
	</div>
	{% if message %}
	<div class="message">
		{{ message }}
	</div>
	{% endif %}
	<h2>Käyttäjän tiedot</h2>
	<p>Käyttäjätunnus: {{ session.username }}</p>
	<h2>Tallennetut työtehtävät</h2>
	<ul>
		{% for task in tasks %}
		<li>{{ task }} {% endfor %}
		</li>
	</ul>
	<form action="/add-task" method="POST">
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		Lisää työtehtävä:
		<input type="text" name="new-task">
		<button type="submit">Tallenna</button>
	</form>
	{% endblock %}
</body>
</html>